body {
    margin: 0;
    padding: 0;
    background-color: #68B2F8; /* Define o fundo azul */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da viewport */
}

.container {
    max-width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}